.text-block{
  p{
    color: #666666;
    line-height: 1.5em;
    width: 100%;
    font-size: 16px;
    strong, bold{
      font-weight: bold;
    }
  }
  h1{
    font-size: 48px;
    font-weight: normal;
    line-height: 1.2em;
    color:  #333333;
  }
  h2{
    font-size: 42px;
    font-weight: normal;
    line-height: 1.2em;
    color:  #333333;
  }
  h3{
    font-size: 36px;
    font-weight: normal;
    line-height: 1.2em;
    color:  #333333;
  }
  h4{
    font-size: 28px;
    font-weight: normal;
    line-height: 1.2em;
    color:  #333333;
  }
  h5{
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2em;
    color:  #333333;
  }
  h6{
    font-size: 28px;
    font-weight: normal;
    line-height: 1.2em;
    color:  #333333;
  }

  ul{
    list-style-type: disc;
    margin-left: 15px;
    li{
      list-style-type: disc;
      margin-bottom: 5px;
      color: #666666;
      line-height: 1.5em;
      width: 100%;
      font-size: 16px;
      strong{
        font-weight: bold;
      }
    }
  }
  ol{
    list-style-type: decimal;
    margin-left: 15px;
    li{
      list-style-type: decimal;
      color: #666666;
      line-height: 1.5em;
      width: 100%;
      font-size: 16px;
      strong, b{
        font-weight: bold;
      }
    }
  }
  a{
    .link(black,black,black,black);
    font-family: inherit;
    font-size: inherit;
  }
}